@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.floorsContainer {
  display: flex;
  width: 90%;
  margin: 50px auto;
  flex-wrap: wrap;
  align-content: center;
}

.navbar {
  margin-top: -6px;
  background-color: rgb(56, 50, 50);
  color: antiquewhite;
  height: 50px;
  width: 100%;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  justify-content: space-between;
}

.heading {
  margin-left: 30px;
  margin-top: 10px;
}

.inputDiv input[type=number] {
  padding: 4px;
  padding-top: 6px;
  margin-top: 7px;
  margin-left: 3px;
  font-size: 15px;
  margin-right: 15px;
  width: 60px;
}

.inputs {
  display: inline;
  margin-right: 50px;
}

.inputDiv {
  margin-top: 2px;
}

label {
  background-color: rgb(36, 186, 255);
  color: black;
  padding: 4px;
  border-radius: 3px;
  font-weight: bold;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  margin-right: 8%;
}

.lift {
  position: absolute;
  height: 10%;
  width: 4%;
  left: 50%;
  border: 2px solid black;
  background-color: grey;
  transition-duration: linear;
}

button {
  height: 35px;
  border-radius: 5px;
  width: 10px;
  margin-left: 30px;
  color: antiquewhite;
  border-color: white;
  text-align: center;
  cursor: pointer;
}

.b1 {
  background-color: rgb(252, 154, 42);
  padding-left: 29px;
  padding-right: 68px;
}

.b2 {
  background-color: rgb(35, 109, 245);
  padding-left: 40px;
  padding-right: 58px;
}

.floor {
  background-color: rgb(161, 235, 248);
  border-radius: 5px;
  width: 140%;
  height: 120px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: auto;
  margin-left: 25%;
  width: 50%;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: blue;
}

@media screen and (max-width: 480px) {
  #first {
    margin-top: 80px;
  }
  .floorsContainer {
     margin-top: 20px;
  }
  .inputDiv {
    margin-top: 60px;
    display: flex;
    position: absolute;
  }
  .lift {
    height: 40px;
    width: 25px;
  }
  .button {
    padding-left: 10px;
    padding-right: 40px;
    font-size: x-small;
  }
  .b2 {
    padding-left: 20px;
    padding-right: 30px;
  }
  h3 {
    font-size: x-small;
  }
}




